<ul class="image-grid" style="height: 600px !important;">
    <?php
    foreach ($this->products as $product) {
        ?>
        <li>
            <p><a href="#" class="addtoList" id="<?= $product->id; ?>">
                    <img src="/images/content/<?= $this->escape($product->image); ?>">
                    <strong>Add <?= $this->escape($product->name); ?> to my list</strong>
                </a>
            </p>
        </li>
    <?php } ?>

</ul>
