<ul class="splitter">
    <li>Filter by type:
        <ul>
            <li><a href="" class="category" id="0">ALL</a></li>
            <?php foreach ($this->productscategory as $category) { ?>
                <li><a href="" class="category"
                       id="<?= $category->id ?>"><?=$this->escape(strtoupper($category->name_category));?></a></li>

            <?php }?>
        </ul>
    </li>
</ul>

<div class="demo">
    <ul class="image-grid" style="height: 600px !important;">
        <?php
        foreach ($this->products as $product) {
            ?>
            <li>
                <p><a href="#" class="addtoList" id="<?= $product->id; ?>">
                        <img src="/images/content/<?= $this->escape($product->image); ?>">
                        <strong>Add <?= $this->escape($product->name); ?> to my list</strong>
                    </a>
                </p>
            </li>
        <?php } ?>

    </ul>
</div>
