html, body {
    background-color: #2D3033;
}

body {
    font: 400 13px/1.5 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
    color: #DDE9EC;
    padding-bottom: 40px;
}

a {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.25) 0 1px 0;
}

#wrapper {
    width: 942px;
    border: 9px solid #33373B;
    margin: 20px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.header {
    background-color: #35393C;
    height: 50px;
}

.header p {
    float: right;
    margin-top: -21px;
    margin-right: 20px;
}

.header h3 {
    margin-top: 3px;
    text-align: center;
}

.splitter {
    margin: 40px 0px;
    text-align: center;
    background: #35393C url('../images/sys/splitter.png') repeat-x 0 100%;
    border-bottom: 1px solid #1D1F21;
    padding: 6px 40px 5px;
    font-size: 12px;
}

.splitter li, .splitter ul, .splitter ul li a {
    display: inline;
    display: inline-block;
    line-height: 1;
    margin-left: 10px;
}

.image-grid {
    margin: -20px 0 0 -40px;
    padding-left: 45px;
    width: 840px;
}

.image-grid li {
    width: 128px;
    margin: 20px 0 0 35px;
    float: left;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 17px;
    height: 177px;
    overflow: hidden;
}
