@charset "utf-8";
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/font.eot');
    src: url('../fonts/font.eot?#iefix') format('embedded-opentype'), url('../fonts/font.woff') format('woff'), url('../fonts/font.ttf') format('truetype'), url('../fonts/font.svg#myriad_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    background-color: #fff;
    position: relative;
    height: auto !important;
    height: 100%;
    min-height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul li,
ol li {
    list-style: none;
}

.hide {
    display: none;
}

.clearfloat {
    display: block;
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.abs {
    width: 1px;
    height: 1px;
    position: absolute;
}

input {
    border: none;
    outline: none;
    background-color: transparent;
}

.mr_l_19 {
    margin-left: 19px;
}

.top_0 {
    top: 0 !important;
}

.mr_t_20 {
    margin-top: 20px !important;
}

.mr_l_50 {
    margin-left: 50px;
}

.p_b_15 {
    padding-bottom: 15px;;
}

.mr_t_0 {
    margin-top: 0 !important;
}

.p_r_25 {
    padding-right: 25px !important;
}