<a href="#" class="clearall">
    <h3>Clear all list</h3>
</a>

<div class="demo">
    <ul class="image-grid" style="height: 600px !important;">
        <?php
        foreach ($this->products as $product) {
            ?>
            <li>
                <a href="#" class="deleteitem" id="<?= $product['id']; ?>">
                    <img src="/images/content/<?= $this->escape($product['image']); ?>">

                    <p><strong>In count: <?=$this->escape($product['count'])?> pcs</strong></p>
                    Delete this item
                </a>
            </li>
        <?php } ?>

    </ul>

</div>