<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>My product list</title>
    <link href="/css/reset.css" media="screen" rel="stylesheet" type="text/css"/>
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css"/>

    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>
<div class="header">
    <h3><a href="/">My product list</a></h3>

    <p>In my list: <a href="/mylist" id="countprod"><?=$this->countProduct;?></a></div>
</p>

</div>

<div id="wrapper">
    <?php echo $this->layout()->content ?>
</div>
</body>
</html>
